@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-item {
  padding: 25px;
}

a {
  text-decoration: none;
  color: #00adae;
  font-size: 45px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 600;
}

.main {
  display: flex;
  margin: 50px auto 0 auto;
  justify-content: center;
}

.main-left {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 100px 50px 0 0;
}

.main-right {
  padding: 50px;
  margin: 25px 0 50px 0;
}

.img-cover {
  width: 800px;
  height: auto;
}

.img-title {
  width: 500px;
}

.img-sub-title {
  width: 500px;
  padding: 50px;
}

.about {
  font-family: "Shadows Into Light", cursive;
}
